* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

.header {
    width: 600px;
    height: 150px;
    background-color: #FFFF00;
}

.center {
    width: 600px;
    height: 300px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.left-upper {
    width: 200px;
    height: 150px;
    background-color: #33FFFF;
    float: left;
}

.center-upper {
    width: 200px;
    height: 150px;
    background-color: #FF0000;
    float: left;
}

.right-upper {
    width: 200px;
    height: 150px;
    background-color: #0000FF;
    float: left;
}

.left-lower {
    width: 450px;
    height: 150px;
    background-color: #00FF00;
    float: left;
}

.right-lower {
    width: 150px;
    height: 150px;
    background-color: #FF00FF;
    float: left;
}

.footer {
    width: 600px;
    height: 100px;
    background-color: #33FFFF;
}