* {
    padding: 0px;
    margin: 0px;
}

.hed {
    margin-top: 20px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.wrap {
    width: 1000px;
    height: 120px;
}

header {
    width: 1000px;
    margin: 0 auto;
}

.name {
    width: 800px;
    height: 60px;
    float: right;
    text-align: right;
    background-color: #87ceed;
}

.time {
    width: 800px;
    height: 60px;
    float: right;
    text-align: right;
    background-color: #00ffff;
}

img {
    height: 120px;
    width: 200px;
    float: left;
    background-color: #ade8e6;
}

table {
    width: 800px;
    margin: 0 auto; 
    margin-top: 10px;
    margin-bottom: 10px;
}

td {
    border: solid 2px white;
    background-color: #e0ffff;
}

th {
    background-color: #87ceed;
}

footer {
    background-color: #00cde1;
    width: 1000px;
    height: 50px;
    margin: 0 auto;
}
