+ {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 400px;
    height: 450px;
    margin: 0 auto;
}

.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.center {
    width: 400px;
    height: 250px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.left {
    width: 250px;
    height: 250px;
    float: left;
}

.left-upper {
    width: 100px;
    height: 150px;
    float: left;
    background-color: #dbd403;
}

.right-upper {
    width: 150px;
    height: 50px;
    float: left;
    background-color: #8c2727;
}

.right-lower {
    width: 150px;
    height: 100px;
    float: left;
    background-color: #ff9e6b;
}

.bottom {
    width: 250px;
    height: 100px;
    float: left;
    background-color: #0093b7;
}

.right {
    width: 150px;
    height: 250px;
    float: left;
    background-color: #80bfa8;
}

.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}